

.ui-datagrid .ui-datagrid-header {
    background-color: black;
    color:white;
    font-weight: bold;
}
.ui-panel .ui-panel-content {
    padding: 0em 0em; 
}
.ui-panel .ui-panel-titlebar {
    padding: 0em 0em; 
}
.ui-widget-header {
    text-transform: none;
    
    }

    .ui-card.ui-widget.ui-widget-content.ui-corner-all{
        .ui-card-header.ng-star-inserted{
            background-color:#E90027;
            color:white;
             font-weight:bold;
             height: 40px;
             font-size:large;
        }
    }
.toggle{
    font-size: 25px;
}

