<form [formGroup]="occupancyFormdata" ngNativeValidate [lcPageSecurity] = "'OccupancyResetComponent'">

  <div class="ui-g-12" style="height: 70px ; padding: 0px 0px 0px 0px; width: 98% ; margin-left: 8px">
    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
  </div>

  <div class="ui-g-12 accordion-wrapper">
    <p-accordion [multiple]="true">
      <p-accordionTab header="Occupancy Reset" [selected]="screenWidth>1100">

        <div class="ui-g">
          <div class="ui-g-12 ui-md-6">
            <!-- <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Client</label>
              </div>
              <div class="ui-g-8" style="height:40px">
                <p-dropdown  [style]="{'width':'100%'}" [autoWidth]="false" [options]="clientList" dataKey="label" optionLabel="value" placeholder="Select" formControlName="client"></p-dropdown>
              </div> -->
            <!-- </div> -->

            <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Location</label>
              </div>
              <div class="ui-g-8">
                <input pInputText type="text" disabled="true" formControlName="location">
              </div>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-4">
                <label> Date </label>
                <span class="pull-right span asterixsign">*</span>
              </div>
              <div class="ui-g-6">
                <p-calendar class="dateField" [style]="{'width':'130px'}" formControlName="countDate" dateFormat="mm/dd/y" [showIcon]="true"></p-calendar>
              </div>
              <div class="ui-g-2">
                <p-message *ngIf="occupancyFormdata && occupancyFormdata.controls.countDate
            && occupancyFormdata.controls.countDate.errors
            && occupancyFormdata.controls.countDate.dirty" severity="error" text="Field is required"></p-message>
              </div>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Hour</label>
                <span class="pull-right span asterixsign">*</span>
              </div>
              <div class="ui-g-6">
                <p-dropdown [options]="hourList" [style]="{'width':'130px'}" dataKey="value" optionLabel="label" placeholder="Select" formControlName="countHour">
                </p-dropdown>
              </div>
              <div class="ui-g-2">
                <p-message *ngIf="occupancyFormdata && occupancyFormdata.controls.countHour 
                && occupancyFormdata.controls.countHour.errors
                && occupancyFormdata.controls.countHour.dirty" severity="error" text="Field is required"></p-message>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Minute</label>
                <span class="pull-right span asterixsign">*</span>
              </div>
              <div class="ui-g-6">
                <p-dropdown [options]="minuteList" [style]="{'width':'130px'}" dataKey="value" optionLabel="label" placeholder="Select" formControlName="countMinute">
                </p-dropdown>
              </div>
              <div class="ui-g-2">
                <p-message *ngIf="occupancyFormdata && occupancyFormdata.controls.countMinute 
                && occupancyFormdata.controls.countMinute.errors
                && occupancyFormdata.controls.countMinute.dirty" severity="error" text="Field is required"></p-message>
              </div>
            </div>
          </div>

        </div>
      </p-accordionTab>
      <p-accordionTab header="Cars on Lot" [selected]="false">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Count Transient</label>
              </div>
              <div class="ui-g-8">
                <p-inputMask [autoClear]="false" mask="9999" [style]="{'width':'130px'}" formControlName="countTransient" slotChar=" ">0</p-inputMask>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Count Contract</label>
              </div>
              <div class="ui-g-8">
                <p-inputMask [autoClear]="false" mask="9999" [style]="{'width':'130px'}" formControlName="countContract" slotChar=" "> 0</p-inputMask>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Total Count</label>
              </div>
              <div class="ui-g-8">
                <p-inputMask [autoClear]="false" mask="9999" [style]="{'width':'130px'}" formControlName="countTotal" slotChar=" "></p-inputMask>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Occupancy Grid" [selected]="false">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-9 ui-lg-7">
            <p-table class="rateTable" [value]="occupancyGridData" #ratesTable [style]="{'margin-top':'20px','margin-bottom':'20px'}"
              [rows]="10" [responsive]="true" [paginator]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="countDate" style=" width:2%; word-break:break-all">Date
                    <!-- <p-sortIcon field="isActive"></p-sortIcon> -->
                  </th>
                  <th pSortableColumn="countHourFormated" style=" width:2%; word-break:break-all">Hour
                    <!-- <p-sortIcon field="rateName"></p-sortIcon> -->
                  </th>
                  <th pSortableColumn="countMinute" style=" width:2%; word-break:break-all">Minute
                    <!-- <p-sortIcon field="rateTypeValue"></p-sortIcon> -->
                  </th>
                  <th pSortableColumn="countTransient" style=" width:2%; word-break:break-all">Count Transient
                    <!-- <p-sortIcon field="incrementValue"></p-sortIcon> -->
                  </th>
                  <th pSortableColumn="countContract" style=" width:2%; word-break:break-all">Count Contract
                    <!-- <p-sortIcon field="maxStay.hours"></p-sortIcon> -->
                  </th>
                  <th pSortableColumn="countTotal" style=" width:2%; word-break:break-all">Count Total
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr class="ui-widget-header" [pSelectableRow]="rowData">
                  <td>
                    <span class="ui-column-title">Date</span>
                    <span>{{ rowData.countDate }}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">Hour</span>
                    <span>{{ rowData.countHourFormated }}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">Minute</span>
                    <span>{{ rowData.countMinute }}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">Count Transient </span>
                    <span style="word-break: break-word;">{{rowData.countTransient}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">Count Contract</span>
                    <span style="word-break: break-word;">{{rowData.countContract }}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">Count Total</span>
                    <span style="word-break: break-word;">{{rowData.countTotal }}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <div class="buttonContainer">
        <div>
            <button pButton type="button" label="Cancel" class="cancel" (click)="onCancel()"></button>
        </div>

        <div>
            <button pButton type="submit" label="Save &amp; Close" class="primary" [lcFieldSecurity]="''"></button>

            <button pButton type="submit" label="Save" class="primary" (click)="saveOccupancy()" [lcFieldSecurity]="'saveOccupancyInformationBtn'"></button>
        </div>
    </div>
  </div>
</form>